<!DOCTYPE html>
<html>
    <head>
        <title>Abouts</title>
        <link rel='icon' href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        {{!-- <h1>{{title}}</h1> --}}
        {{!-- <p>Created By {{name}}</p> --}}
        <img class='portrait' src="/img/IMG20210124094646.jpg">
        </div>
        
        {{>footer}}
    </body>

    </html>